.order-app {
  width: 100%;
  height: 100vh; /* 전체 높이를 차지하도록 설정 */
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* 세로 방향으로 요소들을 배열 */
}

.table-bar {
  background-color: white;
  padding: 10px;
  text-align: end;
}

.top-bar {
  /*height: 10%; 전체 높이의 20%를 차지하도록 설정*/
  height: 70px;
  background-color: #f2f2f2;
  display: flex;
}

.logo {
  width: 100vw;
  height: 70px;
}

.menu-bar {
  flex: 1;
  height: 90%; /* 전체 높이의 70%를 차지하도록 설정 */
  background-color: #ffffff;
  overflow-y: auto; /*메뉴가 많아져서 화면을 넘을 경우 스크롤바가 생기도록 설정*/
  position: relative;
  display: block;
  background-color: #fff;
}

/* Link 컴포넌트는 기본적으로 `<a>` 태그로 렌더링되어 웹브라우저의 기본 스타일을
따라가기 때문에 이를 수정 */
.menu-bar a {
  color: inherit; /* 색상을 상속받음 */
  text-decoration: none; /* 밑줄 제거 */
}

.bottom-bar {
  height: 10%; /* 전체 높이의 10%를 차지하도록 설정 */
  background-color: #d0d0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin: 10px 18px;
  /* 요소 상하에 10픽셀의 공간을 만들고, 좌우에는 추가적인 공간X */
}

.img-div {
  width: 80px;
  margin-right: 20px;
}

.menu-img {
  width: 80px;
  height: 60px;
  /* margin-right: 20px; */
  border-radius: 4px; /* 이미지를 약간 둥글게 */
  object-fit: cover;
  /* 
    대체 컨텐츠-> 지정된 너비와 높이에 맞게 조정되는 방식을 설정
    이미지가 지정된 컨테이너 내에서 어떻게 적절히 보이게 할 것인지를 제어할 때 사용 
    */
}

.menu-title {
  font-weight: bolder;
  margin-bottom: 3px;
}

.menu-price {
  font-size: 15px;
  font-weight: 700;
  color: #ff0000;
  margin-bottom: 2px;
}

.menu-detail {
  font-size: 12px;
  color: #8f8f8f;
  display: -webkit-box;
  overflow: hidden;
  max-width: 100%;
  max-height: 15px;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.menu-purchaseButton {
  padding: 5px 5px;
  margin-left: auto; /*이전 요소와의 사이를 최대한 넓히는 효과 */
  cursor: pointer;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 5px;
  border-color: #e5e5e5;
  background-color: #fff;
}

.menu-quantity {
  margin-top: -5px;
  margin-left: -14px;
  background-color: #ff0000;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 13px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

.purchase-total {
  display: flex;
  flex-direction: column;
}

.totalCount,
.totalQuantity {
  font-weight: bold;
}

.totalCount {
  margin-top: 5px;
  font-size: small;
}

.totalQuantity {
  margin-top: 10px;
  color: red;
}

.purchase-confirmedButton {
  text-align: center;
}

.purchase-confirmedButton button {
  padding: 10px 20px;
  font-size: 16px;
  /* font-weight: bold; */
  border: none; /* color and width are ignored */
  background-color: #ffffff;
  color: #e84155;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.purchase-confirmedButton button:hover {
  background-color: #ddd;
}
