.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 999;
  background-color: white;
  opacity: 0.9;
  touch-action: none;
}

.loading_view {
  position: absolute;
  /* transform: translateY(50%); */
  bottom: 80px;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 9999;
  margin: 0 auto;
  margin-top: -25px;
  align-items: center;
  justify-content: center;
}
