.order-app {
    width: 100%;
    height: 100vh; /* 전체 높이를 차지하도록 설정 */
    display: flex;
    flex-direction: column; /* 세로 방향으로 요소들을 배열 */
}

.top-bar {
    height: 15%; /* 전체 높이의 20%를 차지하도록 설정 */
    background-color: #f2f2f2; 
}

.menu-bar {
    height: 75%; /* 전체 높이의 70%를 차지하도록 설정 */
    background-color: #ffffff; 
    overflow-y: auto; /* 메뉴가 많아져서 화면을 넘을 경우 스크롤바가 생기도록 설정 */
}

/* Link 컴포넌트는 기본적으로 `<a>` 태그로 렌더링되어 웹브라우저의 기본 스타일을
따라가기 때문에 이를 수정 */
.menu-bar a {
    color: inherit; /* 색상을 상속받음 */
    text-decoration: none; /* 밑줄 제거 */
}

.bottom-bar {
    height: 10%; /* 전체 높이의 10%를 차지하도록 설정 */
    background-color: #d0d0d0; 
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    margin: 10px 0;
    /* 요소 상하에 10픽셀의 공간을 만들고, 좌우에는 추가적인 공간X */
}

.menu-img{
    width: 120px;
    height: 100px;
    margin-right: 20px;
    border-radius: 4px; /* 이미지를 약간 둥글게 */
    object-fit: cover; 
    /* 
    대체 컨텐츠-> 지정된 너비와 높이에 맞게 조정되는 방식을 설정
    이미지가 지정된 컨테이너 내에서 어떻게 적절히 보이게 할 것인지를 제어할 때 사용 
    */    
}

.menu-title {
    font-weight: bolder;
    margin-bottom: 10px;
}

.menu-price {
    font-size: 15px;
    color: #ff0000;
    margin-bottom: 5px;
}

.menu-detail {
    font-size: 12px;
    color: #888;
}

.menu-purchaseButton {
    margin-left: auto; /*이전 요소와의 사이를 최대한 넓히는 효과 */
    cursor: pointer;
}

